.tela-inferior-mensagens {
    border-radius: 2px;
    width: 90vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #d2d2d2;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.divOnline {
    margin-bottom: 1rem;
    gap: 2px;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.usuarioOnline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.painel-email {
    min-width: 20rem;
    gap: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
    background-color: #d2d2d2;
}

.painel-mensagens {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 1px;
    background-color: #d2d2d2;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.etiqueta {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    gap: 1rem;
    min-width: 10rem;
    padding: 0.5rem;
    background-color: white;
}

.etiqueta:hover {
    color: white;
    background-color: #222222ec;
}

.m-sagem-S {
    gap: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 0.5rem;
}

.m-sagem-N {
    gap: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    background-color: #fff5a8;
    border-radius: 3px;
    padding: 0.5rem;
}

.mensagens-funcao {
    padding: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
}

.badge-numero {
    padding: 0.5rem;
    border-radius: 9999px;
    background: #e53935;
    color: #fff;
}

.menu-chat-superior {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {
    .tela-inferior-mensagens {
        flex-direction: row;
    }

    .menu-chat-superior {
        flex-direction: row;
    }

}