.painel-superior-cadastros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-content: start;

}

.painel-superior-cadastros button {
    margin: 5px;
}

.cabecalho-despesas th {
    background-color: white;
}

.cabecalho-despesas input {
    padding: 0px;
    border: none;
}

.cabecalho-despesas select {
    border: none;
}

.painel-despesas {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    background-color: #0000005e;
    border-radius: 5px;
    gap: 1px;
    color: black;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {



}