.painel-superior-cadastros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-content: start;

}

.painel-superior-cadastros button {
    margin: 5px;
}

.cabecalho-despesas th {
    background-color: white;
}

.cabecalho-despesas input {
    padding: 0px;
    border: none;
}

.cabecalho-despesas select {
    border: none;
}

.painel-despesas {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    background-color: #0000005e;
    border-radius: 5px;
    gap: 1px;
    color: black;
}

.tabela-pdf {
    width: 100%;
    border-collapse: collapse;
}

.tabela-pdf td,
th {
    text-align: left;
    border: solid 1px #797979;
    padding: 5px;
}

.tabela-pdf .vermelho {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: red;
}

.tabela-pdf .ver-claro {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: red;
}

.tabela-pdf .escuro {
    color: white;
    background-color: #526471;
}

.tela-pdf-despesas {
    gap: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    overflow: auto;
}

.pdf-despesas {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}