/* Painel */
.painel-padrao {
    background: linear-gradient(135deg, #2d3236, #526471);
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    max-width: 900px;
    overflow-y: auto;
    padding: 1rem;
}

/* Campos */
.painel-padrao input,
.painel-padrao select,
.painel-padrao textarea {
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #696969;
    background-color: #f9f9f9;
    font-size: 14px;
    transition: 0.15s ease;
}

.painel-padrao input:focus,
.painel-padrao select:focus,
.painel-padrao textarea:focus {
    outline: none;
    border-color: #3e8bff;
    background-color: #fff;
    box-shadow: 0 0 4px #3e8bff80;
}

/* Linha */
.linha-padrao {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 6px #00000015;
}

/* Rodapé */
.rodape-padrao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757575;
    width: 100%;
    gap: 1px;
    border-top: 1px solid #6a6a6a;
    border-radius: 0 0 10px 10px;
}

/* Botões */
.botoes-rodape {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 5vh;
}

.botoes-rodape img {
    width: 2rem;
}

.botoes-rodape:hover {
    transition: ease-in-out 0.1s;
    background-color: #3e8bff;
    color: white;
}
