.tabela-obras {
    min-width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.tabela-obras thead {
    box-shadow: 0 1px 0 #ccc;
    top: 0;
    position: sticky;
    background-color: #d2d2d2;
    z-index: 10;
}

.tabela-obras thead input {
    width: 100%;
}

.tabela-obras th {
    background-color: #deeaf6;
    font-weight: lighter;
    border: solid 1px #d2d2d2;
    padding: 8px;
}

.tabela-obras td {
    text-align: center;
    padding: 8px;
    border: 1px solid #d2d2d2;
}

.acompanhamento {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    overflow: auto;
    height: 80vh;
    max-width: 90vw;
}

.dias-uteis {
    font-size: 4rem;
    color: red;
}