.tabela-obras {
    min-width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.tabela-obras thead {
    box-shadow: 0 1px 0 #ccc;
    top: 0;
    position: sticky;
    background-color: #d2d2d2;
    z-index: 10;
}

.tabela-obras thead input {
    width: 100%;
}

.tabela-obras th {
    background-color: #deeaf6;
    font-weight: lighter;
    border: solid 1px #d2d2d2;
    padding: 8px;
}

.tabela-obras td {
    text-align: center;
    padding: 8px;
    border: 1px solid #d2d2d2;
}

.acompanhamento {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    overflow: auto;
    height: 80vh;
    max-width: 90vw;
}

.dias-uteis {
    font-size: 4rem;
    color: red;
}

.painel-1-tarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.riscado {
    text-decoration: line-through
}

.tabela-especialidade {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.tabela-tarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.tabela-tarefas table td:nth-child(3),
.tabela-tarefas table th:nth-child(3) {
    width: 35vw;
}

.tabela-tarefas td {
    padding: 8px;
    border: solid 1px #a7a7a7;
}

.tabela-tarefas table {
    display: table-row;
    min-width: max-content;
    border-collapse: collapse;
}

.tabTarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.tabTarefas table td:nth-child(3),
.tabTarefas table th:nth-child(3) {
    width: 35vw;
}

.tabTarefas td {
    padding: 8px;
    border: solid 1px #a7a7a7;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .painel-1-tarefas {
        flex-direction: row;
    }

    .acompanhamento {
        flex-direction: row;
    }

}