.tabela-orcamento {
    width: 100%;
    border-collapse: collapse;
}

.tabela-orcamento td {
    padding: 0.2rem;
    border: solid 1px #000;
}

.titulo-orcamento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.titulo-orcamento span {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.total-orcamento {
    text-align: center;
    padding: 0.5rem;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.tabela-orcamento th:first-child,
.tabela-orcamento td:first-child {
    width: 20%;
}

.tabela-orcamento-2 {
    border-collapse: collapse;
}

.tabela-orcamento-2 td {
    background-color: white;
    padding: 0.2rem;
    border: solid 1px #000;
}

.tabela-orcamento-2 th {
    padding: 0.4rem;
    border: solid 1px #000;
    background-color: #DCE6F5;
}

.total-valor {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medida-fixa {
    width: 10rem;
}

.campo-on {
    width: 5rem;
    display: inline-block;
    padding: 0.5rem;
    border: solid 1px #00a4a4;
    border-radius: 5px;
    background-color: #00ffff;
}

.campo-off {
    width: 5rem;
    display: inline-block;
    padding: 0.5rem;
    border: solid 1px #d0d0d0;
    border-radius: 5px;
    background-color: #5f5f5f;
}